.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.modules-container {
  display: flex;
  justify-content: center;
  margin: 150px auto 20px;
  max-width: 1150px;
  padding: 20px;
  border: 2px solid #DAD1C2;
  border-radius: 5px;
}

.module-compartment {
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.module-compartment h2 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.module-compartment.active h2 {
  border-color: #FFA80A;
}

.customization-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.customization-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.customization-feature {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.customization-feature label {
  margin-right: 10px;
  font-weight: bold;
}

.customization-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.prompt-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.prompt-input {
  width: 100%;
  height: 100px;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.generate-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.generate-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.output-container {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: left;
}

.code-output {
  background-color: #DAD1C2;
  color: #fff;
}

.code-output pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.App-header {
  background-color: #FFF8EB;
  min-height: 10vh;
  display: flex;
  align-items: flex-start;
  font-size: calc(1px + 1vmin);
  color: #3B3533;
  padding: 20px;
}

.App-header h1 {
  margin: 0;
}

.code-box {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.code-box pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 14px;
  color: #333;
  margin: 0;
  background-color: #f4f4f4;
  padding: 10px;
}

.code-box code {
  display: block;
  font-family: monospace;
}

.code-box button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}